p {
color: #B3EBF2;

}
body {
font-family: "ITC Stone Informal", Arial;
    
}

h1{
color: black


}

h2,h3{
color:#65081F


}

body{
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfKp4vIKgBJh9xD9D8GVuCCgAM4ExyCD8Sk0QRpn78yA&s=10");
background-position: center;
background-size: cover;
min-height: 100vh;
background-repeat: no-repeat;
background-attachment: fixed;
}
.nav-bar {
  list-style: none;
  display: flex;
  gap: 15px; 
  padding: 0;
  margin: 0;
}


.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent; 
  color: black;               
  border: 2px solid black;     
  text-decoration: none;
  border-radius: 5px;            
  font-weight: bold;
  transition: all 0.2s ease;     
}


nav.btn:visited{
color:#B3EBF2 ;

}

nav.btn:visited{
color:#65081F


}

#store{
width: 300px; 
height: 400px;
border: 2px solid black;
margin: 5px;
box-sizing: border-box;
border-radius: 5px; 
}



